#product-overview {
  background: url("./images/freedom.jpg") 50% 40% / cover no-repeat border-box,
    linear-gradient(to bottom, #bfa3a3, #514760);
  /* background: linear-gradient(to top, rgb(81, 71, 96, 0.6) 10%, transparent), url("./images/freedom.jpg") 50% 40%/cover no-repeat border-box, #514760; */
  /* background-image: url("./freedom.jpg");
  background-size: cover;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;   */
  /* background-image: linear-gradient(to bottom, #bfa3a3, #514760 ); */
  /* background-image: radial-gradient(circle 300px at 15% 10%,  #bfa3a3,#514760); */
  width: 100vw;
  height: 60vh;
  position: relative;
}

#product-overview h1 {
  color: #000000;
  font-weight: lighter;
  position: absolute;
  top: 7%;
  left: 3%;
  font-size: 1rem;
}

@media (min-width: 40rem) and (min-height: 40rem) {
  #product-overview {
    background-position: 50% 40%;
    height: 80vh;
    font-weight: lighter;
  }
  #product-overview h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 80rem) {
  #product-overview {
    background-position: 50% 40%;
    height: 85vh;
  }
  #product-overview h1 {
    font-size: 2rem;
  }
}

.section-title {
  text-align: center;
}

.plan {
  background: #bfa3a3;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%;
  vertical-align: middle;
}

.plan--highlighted {
  background: #514760;
  color: #bbbbbb;
  /* box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5); */
}

.plan__annotation {
  background: #f7fcef;
  padding: 0.5rem;
  color: #514760;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
  border-radius: 8px;
}

.plan__title {
  color: #1f1a24;
}

.plan__price {
  color: #f7fcef;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin: 0.5rem 0;
}

@media (min-width: 40rem) {
  .plan__list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

  .plan {
    width: 30%;
    min-width: 13rem;
    max-width: 25rem;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height: 28rem;
  }

  .plan--highlighted {
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
    height: 30rem;
    z-index: 50;
  }
}

#key-features {
  background: #514760;
  margin-top: 1rem;
  padding: 1rem;
}

#key-features .section-title {
  color: #f7fcef;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature__image {
  background: radial-gradient(circle 75px at 65% 65%, #bfa3a3, #f7fcef);
  width: 128px;
  height: 128px;
  border: 2px solid #1f1a24;
  border-radius: 50%;
  margin: auto;
  padding: 1.5rem;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: #f7fcef;
  font-size: 1.2rem;
}

@media (min-width:40rem){
  .key-feature {
    width: 30%;
    max-width:25rem;
  }

  .key-feature__list {
    display: flex;
    justify-content:center;
  }

  .modal {
  top: 20%;
  left: 30%;
  width: 40%;
  }
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  /* left: 30%; */
  /* width: 40%; */
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}
