* {
  box-sizing: border-box;
}
main {
  margin: 0.5rem 8rem 0 8rem;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#product-overview {
  background: url("./freedom.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 600px;
  padding: 10px;
}

#product-overview h1 {
  color: #000000;
  font-weight: lighter;
}

.section-title {
  color: #514760;
  text-align: center;
}

.plan {
  background: #bfa3a3;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 25%;
  vertical-align: middle;
}

.plan--highlighted {
  background: #514760;
  color: #bbbbbb;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
}

.plan__annotation {
  background: #f7fcef;
  padding: 8px;
  color: #514760;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
  border-radius: 8px;
}

.plan__title {
  color: #1f1a24;
}

.plan__price {
  color: #f7fcef;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin: 8px 0;
}

.button {
    font-size:14px;
    color: #f7fcef;
    background: #bfa3a3;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #f7fcef;
}

.button:hover {
    color: #bfa3a3;
    background: #f7fcef;
}

.button:focus{
    outline:none;
}

.button__highlighted {
    font-size:14px;
    color: #f7fcef;
    background: #514760;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #f7fcef;
}

.button__highlighted:hover {
    color: #514760;
    background: #f7fcef;
}


.main-header {
  width: 100%;
  background: #514760;
  padding: 10px 16px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #f7fcef;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
}

.main-header__brand:hover {
  border-bottom: 2px solid #f7fcef;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 90px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0px;
  padding: 0;
  display: inline-block;
}

.main-nav__item {
  margin: 0 16px;
  display: inline-block;
}

.main-nav__item a {
  color: #f7fcef;
  text-decoration: none;
  font-weight: bold;
  padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  cursor: pointer;
  border-bottom: 2px solid #f7fcef;
}

.main-nav__item--cta a {
  color: #f7fcef;
  background: #514760;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #f7fcef;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  background: #f7fcef;
  color: #514760;
  border: 1px solid #f7fcef;
}   
