#product-overview {
  background: url("./images/freedom.jpg") 50% 40%/cover no-repeat border-box, linear-gradient(to bottom, #bfa3a3, #514760 );
  /* background: linear-gradient(to top, rgb(81, 71, 96, 0.6) 10%, transparent), url("./images/freedom.jpg") 50% 40%/cover no-repeat border-box, #514760; */
  /* background-image: url("./freedom.jpg");
  background-size: cover;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;   */
  /* background-image: linear-gradient(to bottom, #bfa3a3, #514760 ); */
  /* background-image: radial-gradient(circle 300px at 15% 10%,  #bfa3a3,#514760); */
  width: 100%;
  height: 675px;
  position: relative;
  margin-top: 2.75rem;
}

#product-overview h1 {
  color: #000000;
  font-weight: lighter;
  position: absolute;
  top: 10%;
  left: 3%;
}

.section-title {
  color: #514760;
  text-align: center;
}

.plan__list {
  width: 80%;
  margin: auto;
  text-align: center;
}

.plan {
  background: #bfa3a3;
  text-align: center;
  padding: 1rem;
  margin: .5rem;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan--highlighted {
  background: #514760;
  color: #bbbbbb;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
}

.plan__annotation {
  background: #f7fcef;
  padding: 0.5rem;
  color: #514760;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
  border-radius: 8px;
}

.plan__title {
  color: #1f1a24;
}

.plan__price {
  color: #f7fcef;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin: 0.5rem 0;
}

#key-features {
  background: #514760;
  margin-top: 5rem;
  padding: 1rem;
}

#key-features .section-title {
  color: #f7fcef;
  margin: 2rem;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.key-feature__image {
  background: radial-gradient(circle 75px at 65% 65%,  #bfa3a3, #f7fcef);
  width: 128px;
  height: 128px;
  border: 2px solid #1f1a24;
  border-radius: 50%;
  margin: auto;
  padding: 1.5rem;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: #f7fcef;
  font-size: 1.2rem;
}
