main {
  padding-top: 1.5rem;
}

.background {
  background: url("../images/plans-background.jpg") center/cover;
  filter: grayscale(40%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.package {
  width: 80%;
  margin: 1rem 0;
  border: 4px solid #514760;
  border-radius: 8px;
  border-left: none;
  position: relative;
}

.package:hover,
.package:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #1f1a24;
}

.package a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 2rem;
}

.package__badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.2rem;
  font-size: 0.8rem;
  color: #f7fcef;
  background: #514760;
  padding: 0.5rem;
}
.package__subtitle {
  color: #f7fcef;
}

.package__info {
  padding: 1rem;
  border: 1px solid #1f1a24;
  border-radius: 8px;
  font-size: 1.2rem;
  color: #514760;
  background: #f7fcef;
}

.clearfix {
  clear: both;
}

#plus {
  background: rgba(191, 163, 163, 0.95);
}

#free {
  background: rgba(247, 252, 239, 0.95);
  float: right;
  border-right: none;
  border-left: 4px solid #514760;
  text-align: right;
}

#free:hover,
#free:active {
  border-left: 4px solid #1f1a24;
}

#free .package__subtitle {
  color: #bfa3a3;
}

#premium {
  background: rgba(81, 71, 96, 0.95);
}

#premium .package__title {
  color: #f7fcef;
}

#premium .package__subtitle {
  color: #1f1a24;
}

@media (min-width: 40rem) {
  main {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 80rem) {
  .package {
    border-left: 4px solid #514760;
  }

  #free {
    border-right: 4px solid #514760;
  }

  #free:hover,
  #free:active {
    border-right-color: #1f1a24;
  }
}
